<ion-view title="Bill Bio" on-swipe-up="onSwipeUp()" on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" hide-nav-bar="true" id="page16" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" scroll="false" class="manual-ios-statusbar-padding">
        <div class="list card "  id="billBio-card28">
            <h2 id="billBio-heading16" style="color:#000000;" class=" ">{{Title}}{{Bill}}</h2>

            <p id="billBio-markdown26" style="color:#000000;text-align:center;" class=" ">{{Description}}</p>

            <p id="billBio-markdown22" style="color:#000000;" class=" ">
                <strong>Last action:</strong>{{Date}}</p>
            <p id="billBio-markdown22" style="color:#000000;" class=" ">
                {{Action}}</p>
            <p id="billBio-markdown23" style="color:#000000;" class=" ">
                <strong>Sponsor:</strong>

                <a ui-sref="politicianProfile" id={{Sponsor.id}} data-ng-click="openProfile($event)" style="font-weight:500;" class=" button button-light button-small button-block "><img src={{pImage}} style="height:25%;width:25%"></img><br>{{Sponsor.name}}</a>

                </p>
            <a ng-click="getFull();" id="see-full-bill" style="font-weight:600;" class=" button button-light button-small button-block ">See Full Bill</a>

        </div>

        <a ui-sref="home" id="billBio-button41" style="font-weight:500;" class=" button button-light button-small button-block icon ion-android-home ">Home</a>
    </ion-content>
</ion-view>