<ion-view title="My Government" hide-nav-bar="true" id="page10" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="myGovernment-card26">
            <a ui-sref="trending" id="myGovernment-button13" style="font-weight:500;font-size:25px;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Trending</a>
        </div>
        <div class="list card " id="myGovernment-card22">
            <a ui-sref="profile" id="myGovernment-button169" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">Home Base: New York, NY</a>
            <div class="item item-body " id="myGovernment-list-item-container4">
                <h2 id="myGovernment-heading18" style="color:#000000;font-weight:600;text-align:center;" class=" ">Senators</h2>
                <a ui-sref="politicianProfile" id="myGovernment-button20" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Senator 1</a>
                <a ui-sref="politicianProfile" id="myGovernment-button30" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Senator 2</a>
                <h2 id="myGovernment-heading19" style="color:#000000;font-weight:600;text-align:center;" class=" ">Representatives</h2>
                <a ui-sref="politicianProfile" id="myGovernment-button15" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 1</a>
                <a ui-sref="politicianProfile" id="myGovernment-button14" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 2</a>
                <a ui-sref="politicianProfile" id="myGovernment-button26" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 3</a>
                <a ui-sref="politicianProfile" id="myGovernment-button31" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 4</a>
                <a ui-sref="politicianProfile" id="myGovernment-button32" style="font-weight:500;font-size:16px;text-align:left;border-radius:50px 0px 0px 0px;" class=" button button-light button-small icon ion-android-person ">Rep 5</a>
                <a ui-sref="politicianProfile" id="myGovernment-button39" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 6</a>
                <a ui-sref="politicianProfile" id="myGovernment-button38" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 7</a>
                <a ui-sref="politicianProfile" id="myGovernment-button37" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small icon ion-android-person ">Rep 8</a>
            </div>
        </div>
        <a ui-sref="home" id="myGovernment-button17" style="font-weight:500;border-radius:50px 0px 0px 0px;" class=" button button-light button-small icon ion-ios-home "></a>
    </ion-content>
</ion-view>