<ion-view title="Politician Profile" hide-nav-bar="true" id="page9" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="politicianProfile-card29">
            <img src={{pImage}} style="width:20%;height:20%;">
            <p id="politicianProfile-markdown34" style="color:#000000;" class=" "></p>
            <h4 id="politicianProfile-heading22" style="color:#000000;text-align:center;" class=" ">{{pName}}</h4>
            <h5 id="politicianProfile-heading23" style="color:#000000;text-align:right;" class=" ">{{pState}} {{pRole}}</h5>
            <p id="politicianProfile-markdown37" style="color:#000000;" class=" ">Term End: {{pEnd}}</p>
            <p id="politicianProfile-markdown38" style="color:#000000;" class=" ">Sponsored Bills</p>
            <button id={{pBills[0].id}} style="font-weight:600;text-align:left;" class=" button button-light button-small button-block ">{{pBills[0].display_number}}</button>
            <button id={{pBills[1].id}} style="font-weight:600;text-align:left;" class=" button button-light button-small button-block ">{{pBills[1].display_number}}</button>
            <button id={{pBills[2].id}} style="font-weight:600;text-align:left;" class=" button button-light button-small button-block ">{{pBills[2].display_number}}</button>
        </div>
        <a ng-click="getTwitter($event);" ng-disabled="twitterEnabled" id={{pTwitter}} style="font-weight:600;" class=" button button-light button-small button-block ">Twitter</a>
        <a ui-sref="trending" id="politicianProfile-button167" style="font-weight:600;" class=" button button-light button-small button-block ">All Politicians</a>
        <a ui-sref="myGovernment" id="politicianProfile-button168" style="font-weight:600;" class=" button button-light button-small button-block ">My Government</a>
        <a ui-sref="home" id="politicianProfile-button120" style="font-weight:600;" class=" button button-light button-small button-block icon ion-android-home "></a>
    </ion-content>
</ion-view>