<ion-view title="Trending" hide-nav-bar="true" id="page7" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="list card " id="trending-card24">
            <p id="trending-markdown31" style="color:#000000;" class=" "></p>
            <a ui-sref="home" id="trending-button44" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive button-small button-block icon ion-android-home "></a>
            <a id="trending-button166" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">My Government</a>
        </div>
        <div class="list card " id="trending-card21">
            <p id="trending-markdown39" style="color:#000000;" class=" "></p>
            <form id="trending-form4" class="list ">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search Politicians">
                </label>
            </form>
            <h4 id="trending-heading24" style="color:#000000;" class=" ">Trending</h4>
            <a ui-sref="politicianProfile" id={{pIDs[0]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[0]}} style="width:100%;height:100%"><br>{{pStates[0]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[1]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[1]}} style="width:100%;height:100%"><br>{{pStates[1]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[2]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[2]}} style="width:100%;height:100%"><br>{{pStates[2]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[3]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[3]}} style="width:100%;height:100%"><br>{{pStates[3]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[4]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[4]}} style="width:100%;height:100%"><br>{{pStates[4]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[5]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[5]}} style="width:100%;height:100%"><br>{{pStates[5]}}</a>
        </div>
    </ion-content>
</ion-view>