<ion-view title="Trending" hide-nav-bar="true" id="page7" style="background-color:#ff3333;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="list card " id="trending-card24">
            <p id="trending-markdown31" style="color:#000000;" class=" "></p>
            <a ui-sref="home" id="trending-button44" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive button-small button-block icon ion-android-home "></a>
            <a ui-sref="myGovernment" id="trending-button166" style="font-weight:600;border-radius:0px 0px 0px 0px;" class=" button button-assertive  button-block ">My Government</a>
        </div>
        <div class="list card " id="trending-card21">
            <p id="trending-markdown39" style="color:#000000;" class=" "></p>
            <h4 id="trending-heading24" style="color:#000000;" class=" ">Trending</h4>
            <a ui-sref="politicianProfile" id={{pIDs[0]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[0]}} style="width:100%;height:100%"><br>{{pStates[0]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[1]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[1]}} style="width:100%;height:100%"><br>{{pStates[1]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[2]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[2]}} style="width:100%;height:100%"><br>{{pStates[2]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[3]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[3]}} style="width:100%;height:100%"><br>{{pStates[3]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[4]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[4]}} style="width:100%;height:100%"><br>{{pStates[4]}}</a>
            <a ui-sref="politicianProfile" id={{pIDs[5]}} data-ng-click="openProfile($event)" class=" button button-light" style="width:32%;height:25%"><img src={{pImages[5]}} style="width:100%;height:100%"><br>{{pStates[5]}}</a>
        </div>
        <div class="list card " id="trending-card27">
            <p id="trending-markdown33" style="color:#000000;" class=" "></p>
            <form id="trending-form4" class="list ">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search Politicians">
                </label>
            </form>
            <a ui-sref="politicianProfile" id="{{pIDs[0]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[1]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[2]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[3]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[4]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[5]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[6]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[7]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[8]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[9]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[10]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[11]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[12]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[13]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[14]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[15]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[16]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[17]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[18]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[19]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[20]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[21]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[22]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[23]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[24]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[25]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[26]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[27]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[28]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[29]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[30]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[31]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[32]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[33]}}" class=" button button-light"></a>
            <a ui-sref="politicianProfile" id="{{pIDs[34]}}" class=" button button-light"></a>
        </div>
    </ion-content>
</ion-view>